@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow: hidden;
    
}

h1{
    color: #fff;
    cursor: pointer;
}

.top {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #251D3A;
}

.left {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 500px;
}

.user-name{
    margin-left: 5px;
    color: #fff;
    vertical-align: middle;
    font-size: large;
    cursor: pointer;

}

.pp{
    width: 50px;
    height:50px;
    background-color: #4d3f71;
    border-radius: 100%;
    margin-left: 8px;
    cursor: pointer;
}
.tools{
    display: flex;
    background-color: #4d3f71;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.bt{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.sidebar-l{
    display: block;
    width: 40%;
    align-items: center;
    height: 100vh;
    align-self: left;
    background-color: white;
    padding-top: 10px;
    
    
}


a{
    color: #fff;
    text-decoration: none;
}

.class-card {
    display: flex;
    width: calc(100% - 20px);
    height: 80px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 1s;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #4d3f71;
    cursor: pointer;
  }
  
  .classCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #67529e;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #67529e 10px ), repeating-linear-gradient( #2a255055, #2a2550 );
}
  
.container {
    display: flex;
    padding: 2px 16px;
    align-items: center;
    color: #fff;
  }

.navbar1{
    display: flex;
    justify-content: space-between;
}

.nav{
    color: white;
    margin: 0px  10px 0px 10px;
    cursor: pointer;
}

  
