@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    overflow-y: hidden;
}

h2{
    color: #fff;
}

.top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #271e3b;
}

.left {
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 500px;
}

.user-name{
    margin-left: 5px;
    color: #fff;
    vertical-align: middle;
    font-size: large;

}

.pp{
    width: 30px;
    margin-left: 8px;
}
.tools{
    display: flex;
    background-color: #e04d01;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

.bt{
    color: #fff;
}

.sidebar{
    width: 250px;
    align-items: center;
    height: 100vh;
    justify-self: left;
    background-color: white;
    
    
}

a{
    color:#fff;
    text-decoration: none;
}

.class-card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(6, 117, 117);
    margin: 0px 10px 10px 10px;
    height: 60px;
    width: 230px;
    border-radius: 5px;
  }
  
.class-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    display: flex;
    padding: 2px 16px;
    align-items: center;
  }
